* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  padding: 0.5rem;
}

.main-container {
  min-height: 100vh;
  height: 100%;
  padding: 50px;
  background: radial-gradient(
    143.84% 319.25% at 110.38% -37.78%,
    #ffef61 9.9%,
    #ff6161 45.83%,
    #ff6161 54.17%,
    #8f00ff 100%
  );
}
